<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Signup</title>
</head>
<body>
<span id='cwppButton'></span>
<script src='https://www.paypalobjects.com/js/external/connect/api.js'></script>
<script>
	paypal.use( ['login'], function (login) {
		login.render ({
			"appid":"agido-webapp",
			"authend":"sandbox",
			"scopes":"openid",
			"containerid":"cwppButton",
			"responseType":"code",
			"locale":"en-us",
			"buttonType":"CWP",
			"buttonShape":"pill",
			"buttonSize":"lg",
			"fullPage":"true",
			"returnurl":"http://localhost:9191/authenticated"
		});
	});
</script>
</body>
</html>
